.App{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.singleCard{
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
}