body {
    font-family: monospace;
    margin:0;
    
}

h1 {
    color: #f15b23;
    font-family: monospace;
    font-size: 24px;
    font-weight: 300;
    margin: 0 0 10px;
    padding: 0;
    color:white;
    text-shadow: 1px 1px #222
}

header {
    display:flex;
    justify-content: center;
    background-color:#ff9800;
}

.content {
    display:flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ff9900c7;
    color: white;
    text-align: center;
  }