body {
    background-color: #000;
    color: #fff;
    height: 100vh;
    font-size: 40px;
}


.x{
    display: none;
   
}

.bigFont{
    font-size: 90px;
}

button{
    font-size: 40px;
}

/* bootstrap uses a class 'd-none' */

.hideEl {
    display: none;
}

